
body{
    display:-webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    /*font-family: 'Be Vietnam Pro', sans-serif;*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #191919;
}
/* Idioma */

.idioma{

    position: absolute;
    /* border-style: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    bottom: 2%;
    left: 6%;
}

.idioma img{

    height: 60%;
    width: auto;
}



/* Intro */

.hidden{

    background: #191919;
    overflow: hidden;

}

.loading{

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #191919;
    z-index: 20;

}

.loading img{

    width: 7%;
    height: auto;
}

@media(max-width:1000px){

    .loading img{

        width: 15%;
    }
}

/* Saludo */

.saludo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    bottom: 2%;
    right: 1%;
    z-index: 100;
    animation: bienvenido;
    animation-duration: 8s;
    font-size: 0%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

@keyframes bienvenido{

    15%{
        opacity: 90%;
        height: 100px;
        width: 0px;
        
    }
    25%{
        color: transparent;
        font-size:0%; 
    }

    26%{

        font-size: 25px;
        font-weight: bold;
    }
    30%{
        width: 200px;
        color:#191919;
        font-size: 25px;
        font-weight: bold;
    }
    85%{

       height: 100px;
       width: 200px;
       color:#191919;
       font-size: 25px;
       font-weight: bold;
    }
    
    90%{

        color: transparent;
        font-size:0%; 

    }

    100%{
        opacity: 90%;
        height: 100px;
        width: 0px;
        
    }
}

/***********------index.html------**************/

/******...NavBar...*********/
nav{
    /* background-color: #191919 ; */
    background:#191919  ;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vmax;
    z-index: 20;
}
.NM-NavBar{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #191919 ; */
    /* background: blue; */
    width: 90%;
    height: 6vmax;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8vw;
    border-bottom: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.NM-div-title{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    height: 100%;
    padding: 0% 0%;
    /* background: rebeccapurple; */
}
.NM-div-Menu{
   
    /* background: yellow; */
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: right;
    padding: 0% 0%;
    align-items: center;
    animation: NavMenu 0.5s ease-in;
}
#btn-menu{
    display: none;
    /* background: rebeccapurple; */
}
nav label{
    display: none;
   
}
nav label:hover{
    cursor: pointer;
    background: #191919;
    filter: invert();
}
.NM-div-Menu ul{
    /* background:green; */
    height: 100%;
    display: flex;
    margin: 0;
    list-style: none;
    /* height: 90px; */
    flex-direction: row;
    
}
.NM-div-Menu li:hover{
    background: #191919;
    filter: invert();
    text-decoration: overline;
    
    /*text-decoration: underline; */
    
}
.NM-div-Menu li a{
    display: block;
    padding: 0% 2vw;
    color: white;
    text-decoration: none;
}
@keyframes NavMenu{
    from{
        opacity: 0;
        transform: translateX(-10%);
    }
    to{
        opacity: 5;
        transform: translateX(0%);
    }
}

/******...NavBar RESPONSIVE...*********/
@media screen and (max-width:600px) {
    nav{
        height: 11vh;
        /* background: red; */
    }
    /*
    .NM-div-Menu {
        /* background: rebeccapurple; */
    /*} */ 

    nav label{
        display: block;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 1;
        /* background: blue; */
        
    }
    
   
    .NM-NavBar{
        width: 80%;
        font-size: 4vw;
        height: 9vh;
        width: 95%;
            /* background: green; */
    }

    .NM-div-title{
        width: 100%;
        justify-content: center;

    }
    .NM-div-Menu{
        display: none;
        position: absolute;
        z-index: 2;
        right: 0;
		top: 10vh;
        /* background: rebeccapurple; */
		/* background-color: rgba(25,25,25,0.8); */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;   
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .NM-div-Menu ul{
        text-align: center;
        flex-direction: column;
        /* border-left: 1px solid rgba(45,45,45,1); */
        margin: 0%;
        
        /* background-color: rgba(25,25,25,0.8); */
    }
    .NM-div-Menu li{
        border-bottom: 1px solid rgba(45,45,45,1);
        /* background-color: rgba(25,25,25,0.8);  */
        background: #191919;
    }
    input[type=checkbox]:checked~ .NM-div-Menu{
        display: flex;
        transform: translateX(0%);
        transition: transform 0.3s ease-in;
    }
}

/************...DIV-CONTAINER-HEADER...************/
.containerHeader{
    /* background:red; */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
    
}
.headerItem1{
    position: relative;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 6%;
}
.headerItem1 .headerTitle{
width: 100%;
color: white;
font-size: 3vw;
font-weight: bolder;
text-align: left;
}
.headerItem1 .headerText{
width: 100%;
color: white;
text-align: left;
font-size: 1.2vw;
text-align: justify;
}
.containerHeader .headerbutton{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 4vw;
    border-style: solid;
    border-color: white;
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.5vw;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}
.containerHeader .headerbutton:hover{
    background: #191919;
    filter: invert();
}
.containerHeader .headerbutton div{
    color: white;
    display: flex;
    text-align: center;
}
.headerItem2{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    width: 80%;
    height: 34vmax;
    margin: 2%;
    animation: ImagHeader 1.5s ease-in;
    overflow:hidden;
    transition: 1.5s;
}

/* @keyframes ImagHeader{
    from{
        -webkit-transform:scale(0.7);
        transform:scale(0.7);
    }
    to{
        -webkit-transform:scale(1);
        transform:scale(1);
    }
} */

.headerItem2:hover{
    -webkit-transform:scale(1.07);
    transform:scale(1.07);
    transition: 2s;
}
.headerItem2 img{
    display: flex;
    position: absolute;
    width: 100%;
}
a{
    color: #191919
}

/************...DIV-CONTAINER-HEADER RESPONSIVE...************/
@media screen and (max-width:600px) {
    .containerHeader{
        flex-direction: column-reverse;
        width: 100%;
        
    }
    .headerItem2{
        width: 80%;
        height: 40vh;
        margin: 2%;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        /* background: rebeccapurple; */
        
    }

    .headerItem1{
        /* order: 2; */
        margin: 2%;
        width: 80%;
        height: 60vh;
        align-items: center;
        justify-content: center;
        padding-bottom: 3%;
        flex-direction: column;
        /* background: rebeccapurple; */

    }

    .headerItem1 .headerTitle{
        font-size: 8vw;
        text-align: center;
        padding-bottom: 6%;
    }
        
    .headerItem1 .headerText{
        width: 95%;
        text-align: center;
        font-size: 3.8vw;
        padding-bottom: 5%;
    }
        
    .headerItem1 .headerbutton{
        align-self: center;
        width: 45%;
        height: 12vw;
        font-size: 4vw;
    }
}


/************...Reseña del programa...************/
.NM-Programa{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #191919;
    background-color: white;
}
.NM-Programa-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    width: 50%;
    height: 34vmax;
    margin: 2%;
    animation: ImagHeader 1.5s ease-in;
    overflow:hidden;
}
.NM-Programa-img img{
    display: flex;
    position: absolute;
    width: 100%;
}

.NM-Programa-reseña{
    display: flex;
    width: 50%;

}



/***********-----registro.html-----**************/
.NM-Registro{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    /* background-color:red; */
    height: 100vh;
    width: 100%;
    padding: 4% 0%;
}
.NM-div-Registro{
    display: flex;
    background-color: #191919;
    width: 80%;
    height: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid white;
    position: relative;
    flex-direction: row;
    z-index: 10;
    transition: 1.5s;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.NM-Registrate{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 50%;
    font-size: 1.3vw;
    line-height: 0;
    display: flex;
    align-items: center;
    color:#191919 ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.NM-div-formulario{
    display:flex;
    padding: 2% 5%;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    color: white;
    font-size: 1.2vw;

}
.NM-Registro-imag {
    max-width: 50%;
    height: auto;
    animation: ImagHeader 1.5s ease-in;
}
.NM-Registro-imag:hover{
    max-width: 53%;
    transition: all 1s;
}
.NM-div-formulario>form{
    display:flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.NM-div-formulario>form>input{
    width: 100%;
    padding: 0.5%;
    border: none;
    background-color: #191919;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1.2vw;
}
.NM-div-formulario>form>label{
    padding: 0.7% 0%;
 
}
.NM-div-button{
    display: flex;
    justify-content: center;
    padding: 3% 0%;
}
.NM-div-button>div{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    border-style: solid;
    border-color: white;
    align-self: flex-start;
    font-weight: bold;
}
.NM-div-button>div:hover{
    background: #191919;
    filter: invert();
    cursor: pointer;

}
.NM-div-button>div>input:hover{
    cursor: pointer;

}
.NM-button{
    text-align: center;
    font-size: 1.5vw;
    background-color:#191919 ;
    color: white;
    padding: 2% 4%;
    border-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}
.NM-div-formulario>form>label{
    padding-top: 3%;
}

.NM-div-formulario>form>p{
    color: red;
    font-size: 0.9vw;
    margin-bottom: 0;
    margin-top: 0.2vw;
    display: none;
}
/***********-----Registro Exitoso-----**************/
.NM-div-RegistroExitoso{
    display: none;
    background-color: #191919;
    color: white;
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border: 1px solid white;
    z-index: 20;
    font-size: 1.4vw;
}
#RegistroExitosoTitle{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 5%;
}
#RegistroExitosoTitle>h2{
    margin-left: 2%;
}
#RegistroExitoso>p{
    text-align: left;
    align-items: left;
    width: 100%;
    margin: 1% 15%;
}
#MostrarRegistro{
    flex-direction: column;
    line-height: 1vw;
}




/***********...registro RESPONSIVE...**************/
@media screen and (max-width:600px) {
.NM-div-Registro{
    width: 70%;
    flex-direction: column;
}
.NM-Registrate{
    width: 100%;
    font-size: 3.5vw;
}
.NM-div-formulario{
    padding: 5% 10%;
    width: 80%;
    font-size: 4vw;
}
.NM-div-formulario>form>input{
    width: 100%;
    padding: 2%;
    font-size: 3.5vw;
}
.NM-Registro-imag {
    max-width: 25%;
    height: auto;
}
.NM-button{
    font-size: 3vw;
}
.NM-Registro-imag:hover{
    max-width: 26%;
    transition: all 1s;
}
}


/***********-----Login.html-----**************/
.NM-Login{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    padding: 4% 0%;
}
.NM-div-Login{
    display: flex;
    background-color: #191919;
    width: 60%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid white;
    position: relative;
    flex-direction: column;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.NM-IniciarSesion{
    text-align: center;
    background-color: white;
    width: 100%;
    font-size: 1.3vw;
    line-height: 0;
    display: flex;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.NM-div-formulario-Login{
    display:flex;
    padding: 2% 5%;
    flex-direction: column;
    width: 60%;
    color: white;
    font-size: 1.2vw;
    
}
.NM-Login-imag {
    max-width: 30%;
    height: auto;
    animation: ImagHeader 1.5s ease-in;
}
.NM-Login-imag:hover{
    max-width: 40%;
    transition: all 1s;
}
.NM-div-formulario-Login>form{
    display:flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.NM-div-formulario-Login>form>input{
    width: 100%;
    padding: 0.5%;
    border: none;
    background-color: #191919;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1.2vw;
}
.NM-div-formulario-Login>form>label{
    padding: 0.7% 0%;
 
}
.NM-div-button{
    display: flex;
    justify-content: center;
    padding: 2% 0%;
}
.NM-div-button>div{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    border-style: solid;
    border-color: white;
    align-self: flex-start;
    font-weight: bold;
}
.NM-div-button>div:hover{
    background: #191919;
    filter: invert();
    cursor: pointer;

}
.NM-div-button>div>input:hover{
    cursor: pointer;

}
.NM-button{
    text-align: center;
    font-size: 1.5vw;
    background-color:#191919 ;
    color: white;
    padding: 5% 0%;
    border-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}
.NM-div-formulario-Login>form>label{
    padding-top: 3%;
}

.NM-div-formulario-Login>form>p{
    color: red;
    font-size: 0.9vw;
    margin-bottom: 0;
    margin-top: 0.2vw;
    display: none;
}
/***********-----Login Exitoso-----**************/
.NM-div-LoginExitoso{
    display: block;
    background-color: #191919;
    color: white;
    position: absolute;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border: 1px solid white;
    z-index: 20;
    font-size: 1.4vw;
}
#LoginExitosoTitle{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 5%;
}
#LoginExitosoTitle>h2{
    margin-left: 2%;
}
#LoginExitoso>h1{
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 1% 0%;
}
#MostrarLogin{
    flex-direction: column;
    line-height: 1vw;
}




/***********...Login RESPONSIVE...**************/
@media screen and (max-width:600px) {
.NM-div-Login{
    width: 70%;
    flex-direction: column;
}
.NM-IniciarSesion{
    width: 100%;
    font-size: 3.5vw;
}
.NM-div-formulario-Login{
    padding: 5% 10%;
    width: 80%;
    font-size: 4vw;
}
.NM-div-formulario-Login>form>input{
    width: 100%;
    padding: 2%;
    font-size: 3.5vw;
}
.NM-Login-imag {
    max-width: 25%;
    height: auto;
}
.NM-button{
    font-size: 3vw;
}
.NM-Login-imag:hover{
    max-width: 26%;
    transition: all 1s;
}

}

/* Nosotros*/

body {
    margin:0;
}
.General {
    position: absolute;
    display: flex;
    flex-direction: row;
    background: #191919;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: -100;
}
@media(max-width: 1000px) {
    .General{
        flex-direction: column;
    }
}

.hidden{
    
    background: #191919;
    overflow: hidden;

}

.loading{

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #191919;
    z-index: 20;

}

.loading img{

    width: 7%;
    height: auto;
}

@media(max-width:1000px){

    .loading img{

        width: 15%;
    }
}

nav{
    /* background-color: #191919 ; */
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vmax;
    z-index: 20;
}

.NM-NavBar {
    color: white;
    display: flex;
    align-items: center;
    background-color: #191919 ;
    /* background: blue; */
    width: 90%;
    height: 6vmax;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8vw;
    border-bottom: 1px solid white;
}
.NM-div-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    padding: 0% 0%;
    /* background: rebeccapurple; */
}
.NM-div-Menu{
   
    /* background: yellow; */
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: right;
    padding: 0% 0%;
    align-items: center;
    animation: NavMenu 0.5s ease-in;
}
#btn-menu{
    display: none;
    background: rebeccapurple;
}
nav label{
    display: none;
   
}
nav label:hover{
    cursor: pointer;
    background: #191919;
    filter: invert();
}
.NM-div-Menu ul{
    /* background:green; */
    height: 100%;
    display: flex;
    margin: 0;
    list-style: none;
    /* height: 90px; */
    flex-direction: row;
    /* background: gray;  */
}
.NM-div-Menu li:hover{
    background: #191919;
    filter: invert();
    text-decoration: overline;
    /*text-decoration: underline; */
    
}
.NM-div-Menu li a{
    display: block;
    padding: 0% 2vw;
    color: white;
    text-decoration: none;
}
@keyframes NavMenu{
    from{
        opacity: 0;
        transform: translateX(-10%);
    }
    to{
        opacity: 5;
        transform: translateX(0%);
    }
}



/* <<<<<<<<NOSTROS>>>>>> */

.nombreIntegrante{
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.NM-Registro-imag {
    max-width: 50%;
    height: auto;
    justify-content: center;
    animation: ImagHeader 1.5s ease-in;
    position: relative;
    top: 30%;
}
.NM-Registro-imag:hover{
    max-width: 53%;
    transition: all 1s;
}


.nosotrosContainer{

    display: flex;
    align-items:center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* background: rebeccapurple; */
    margin-top: 9%;
    line-height: 0%;
}
.NM-Conocenos{
    color: white;
    text-align: left;
    justify-content: left;
    font-size: 1.3vw;
    line-height: 0;
}

.nosotrosContainer .NosotrosItems {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 90%;
    height: 100%;
    /* background: red; */
    flex-direction: row;
    font-size: 1vw;
    line-height: 0%;
    top: 0%;
}


@media(max-width:700px){

    .nosotrosContainer .NosotrosItems{

        flex-direction: column;
    }
}

.NM-Grupo-Trabajo-integrantes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    height:80%;
    /* background:green; */
}


.integrante{
    display: flex;
    
    width: 90%;
    height: 15%;
    background: white;
    border-style: solid;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.integrante .integranteFoto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background: white;
}

.integrante .integranteFoto img{

    height: 90%;
    width: auto;
    transition: 0.3s;;
}
.integrante .integranteFoto img:hover{

    height: 100%;
    transition: 0.3s;

}
.integrante .nombreIntegrante{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background: #191919;
    color: white;
    /* background: rebeccapurple; */
}

.integrante .socialIntegrantes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 30%;
    background: #191919;
}

.integrante .socialIntegrantes a{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 60%;
    /* background: yellow; */
}

.integrante .socialIntegrantes a  img{

    height: 90%;
    width: auto;
    transition: 0.3s;

}

.integrante .socialIntegrantes a  img:hover{

    height: 100%;
    transition: 0.3s;

}



.NM-Grupo-Trabajo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width:45%;
    background: white;
    transition: 0.5s;
    
}

.NM-Grupo-Trabajo:hover{

    height: 90%;
    transition: 0.5s;
}

.NM-Grupo-Trabajo div{

    /*  background: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NM-Grupo-Trabajo div img{

    width: 40%;
}


/* <<<<<<<<DISEÑO>>>>>> */

.containerHeaderDiseno {
    
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left:5%;
    margin-right: 5%;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 100%;
    width: 100%;
         
    /* background: greenyellow; */

}
   

.headerItem1Diseno {
    /* margin-top: 30px;
    margin-bottom: 25px;  */
    display:flex;
    flex-direction: row;
    align-items:center; 
    justify-content: center;   
    width: 100%;
    height: 100%;
    /* background-color:blueviolet; */
    

}

.headerItem2Diseno {
    margin-top: 25px;
    margin-bottom: 10px; 
    display:flex;
    flex-direction: row;
    align-items:center;    
    width: 100%;
    height: 100%;
    background-color:RED; 
    

}
.headerTitleDiseno {

    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content:flex-start;
    width: 45%;
    height: 100%;
    font-weight: bold;
    color: white;
     /*     background-color: blue;  */
     text-align: center;
}

.headertextDiseno{

    font-size:2vw;
    font-family: sans-serif;
    font-weight:normal
    

}

.img1Diseno{
    width:45%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    display:flex;
    /* background-color: white; */
    /* padding: 3px;  */
    position: relative;
    /* left: 300px; */
    /* background: black; */
    
}

#img1{
    border-style: double;
    /* border:3px solid black; */
    background-color: white;
    width:70%;
    display:flex;
    object-fit: cover;
    
}

.img2Diseno{
    display:flex;
    background-color: white;
    padding: 3px; 
    position: relative;
    left: 300px;
    object-fit: cover;
}

#img2{
    border:3px solid black;
    background-color: white;
}


.img1Diseno:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition: 2s;
}
.img2Diseno:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition: 2s;
}

/* <<<<<<<<DISEÑO RESPONSIVO>>>>>> */


@media(max-width:1024px){

    .containerHeaderDiseno{

        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .headerItem1Diseno{

        flex-direction: column;
        height: 90vh;
        /* background: blue; */
        justify-content: space-evenly;
    }

    .headerTitleDiseno{
        width: 90%;
        height: 40%;
        /* background: red; */
    }

    .img1Diseno{
        width: 90%;
        /* background: yellow; */
    }
    .headerItem2Diseno{

        flex-direction: column;
    }

}

/* @media screen and (max-width: 768px) {
    .containerHeader{
       
    flex-direction: column; 
    }
}

@media screen and (max-width: 768px){
    .headerItem1Diseno{
        flex-direction: column;


    }
} */
